#admin-music .settings-section {
    padding: 30px;
}

#admin-music form.scrobbler {
    background-position: calc(100% - 2 * var(--default-grid-baseline)) calc(100% - 2 * var(--default-grid-baseline));
    width: min-content;
}

#admin-music a {
    text-decoration: underline;
}

#admin-music .field + .field {
    margin-top: 8px
}

#admin-music .scrobbler .field input {
    /* scrobbler keys and secrets are generally 32 characters, so use a value slightly larger than that */
    width: 40rch;
}

#admin-music .scrobbler .field input:invalid {
    border-color: var(--color-error, red);
}

#admin-music .scrobbler fieldset {
    border: 1px solid var(--color-border-dark);
    border-radius: var(--border-radius-large);
    padding: calc(var(--default-grid-baseline) * 2);
}

#admin-music .scrobbler legend {
    padding: var(--default-grid-baseline);
}

